{$APP_HOST}, www.{$APP_HOST} {
	@www host www.{$APP_HOST}
	redir @www https://{$APP_HOST}{uri} permanent

	encode zstd gzip
	reverse_proxy app:3000
}

{$SUPABASE_HOST} {
	reverse_proxy kong:8000
}

{$STUDIO_HOST} {
	basic_auth {
		{$STUDIO_USER} {$STUDIO_PASSWORD_HASH}
	}
	reverse_proxy studio:3000
}
